body{
	margin:0;
	padding:0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: bold; 
	font-size:100%;
}
.container {
    height: 600px;
    width: 800px;
} 
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock {
    position: absolute;
    left: 0;
    width: 400px;
    height: 500px;
    border: 2px solid #003C78;
    border-right:none;
}


.control {
    position: absolute;
    right: 0;
    width: 400px;
    height: 500px;
    border: 2px solid #003C78;
    border-left:none;
}
.control-cmpt{
	position:absolute;
	width:350px;
	top:40px;
	left:15px;
}
.label{
	height:24px;
	width: 295px;
	margin-left:10px;
	padding-top:2px;
	text-align: center;
	letter-spacing: 3px;
	color: #FFFFFF;
	border-radius: 5px;
	background:#B4BE00; 
  	box-shadow: 2px 2px rgba(0, 0, 0, 0.5); 
}
.jp{
	margin-top:45px;
}
.tp{
	margin-top:140px;
}
.jm{
	margin-top:235px;
}
.jp-slider-component{
	height:40px;
	margin-top:98px;
}
.tp-slider-component{
	height:40px;
	margin-top:193px;
}
.min{
	float:left;
	width:20px;
	margin-left:35px;
	margin-top: -.5em
}
.max{
	float:left;
	width:20px;
	margin-left:10px;
	margin-top: -.5em
}
#jp-slider{
	float:left;
	width:200px;
}
#tp-slider{
	float:left;
	width:200px;
}

.ui-slider{height: 2px;}
.ui-widget-content { background: #7F7F7F; }
.ui-slider-horizontal .ui-slider-handle{
	height:20px;
	width:20px;
	border-radius:50%;
	top: -.5em;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: none;
  background: #7F7F7F; 
}
.ui-slider .ui-slider-handle:focus { outline: none; }

.task-tab1{
	height:20px;
	margin-top:275px;
}
.task-tab2{
	height:20px;
	margin-top:305px;
}
.task{
	float:left;
	margin:10px;
	width: 20px;
	height: 20px;
	background-color:#7F7F7F;
	border-radius: 50%;
}
.task-picker-panel{
	position:absolute;
	width:88px;
	height:35px;
	margin-top:350px;
	margin-left:115px;
}
#sel-task{
	float:left;
	width:30px;
	margin-top:.2em;
	text-align:center;
}
#dec img{
	float:left;
	margin-left:5px;
	width:25px;
	height: 25px;
}
#inc img{
	float:left;
	margin-left:2px;
	width:25px;
	height: 25px;;
}
#reset{
	height:24px;
	width: 150px;
	margin-top:400px;
	margin-left:200px;
	text-align: center;
	letter-spacing: 3px;
	color: #7F7F7F;
	border-radius: 5px; 
  	box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  	cursor:default; 
}

#reset:active{
	box-shadow: none;
	margin-left:202px;
	margin-top:402px;
}

.clock-cmpt{
	position:absolute;
	width:350px;
	top: 25px;
	left:45px;
}
.clock-face{
	margin-top:40px;
}
.alarm img{
	position:absolute;
	top:10px;
	height: 30px;
	width: 20px;
}
.center{
	height:400px;
	width:400px;
	position:fixed;
	top:50%;
	left:50%;
	border: 2px solid red;
	transform:translate(-50%, -50%);
}

#rotating-clock{
	position:absolute;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	background-color: #003C78;
}

.mid-circle {
	position: absolute;
	margin:15px;
	border-radius: 50%;
	width: 320px;
	height: 320px;
	background-color: #FFFFFF;
	z-index: 2;
}

.inner-circle {
	position: absolute;
	margin: 9px;
	border: solid 1px #7F7F7F;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background-color: #FFFFFF;
	z-index: 3;
}

#time-display{
	position:absolute;
	top:130px;
	left:5px;
	height:40px;
	width:300px;
	letter-spacing:10px;
	text-align:center;
	font-size:48px;
	font-weight:lighter;
}
#pause-time-display{
	position:absolute;
	top:70px;
	left:5px;
	height:40px;
	width:300px;
	letter-spacing:10px;
	text-align:center;
	font-size:40px;
	font-weight:lighter;
	opacity:0.3;
}
#play-pause{
	position:absolute;
	top:210px;
	left:116px;
	height:64px;
	width:64px;
	border: solid 1px #7F7F7F ;
	border-radius: 50%;
}
#play{
	margin-left:12px;
	margin-top:7px;
	height:50px;
	width:50px;
}
#pause{
	margin-left:7px;
	margin-top:7px;
	height:50px;
	width:50px;
}