body{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold; 
	font-size:100%;
}
.container {
    height: 500px;
    width: 760px;
} 
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock {
    position: absolute;
    left: 0;
    width: 380px;
    height: 400px;
    border: 2px solid #003C78;
    border-right:none;
}


.control {
    position: absolute;
    right: 0;
    width: 380px;
    height: 400px;
    border: 2px solid #003C78;
    border-left:none;
}
.control-cmpt{
	position:absolute;
	width:300px;
	left:40px;
}
.label{
	height:27px;
	text-align: center;
	letter-spacing: 3px;
	padding-top: 3px;
	color: #FFFFFF;
	border-radius: 5px;
	background:#B4BE00; 
  	box-shadow: 2px 2px rgba(0, 0, 0, 0.5); 
}
.jp{
	top:20px;
}
.tp{
	top:120px;
}
.jp-slider-component{
	top:80px;
	height:40px;
}
.tp-slider-component{
	top:180px;
	height:40px;
}
.min{
	float:left;
	width:20px;
	margin-left:10px;
	margin-right:15px;
	margin-top: -.4em
}
.max{
	float:left;
	width:20px;
	margin-left:20px;
	margin-top: -.4em
}
#jp-slider{
	float:left;
	width:200px;
}
#tp-slider{
	float:left;
	width:200px;
}

.ui-slider{height: 2px;}
.ui-widget-content { background: #7F7F7F; }
.ui-slider-horizontal .ui-slider-handle{
	height:25px;
	width:25px;
	border-radius:12px;
	top: -.7em;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: none;
  background: #7F7F7F; 
}
.ui-slider .ui-slider-handle:focus { outline: none; }

.task-tab1{
	top:240px;
	height:20px;
	padding-left:8px;
}
.task-tab2{
	top:275px;
	height:20px;
	padding-left:8px;
}
.tg-one{}
.task{
	float:left;
	margin:5px;
	width: 25px;
	height: 25px;
	background-color:#7F7F7F;
	border-radius: 12px;
}
.tg-two{}
.task-picker-panel{
	position:absolute;
	width:122px;
	height:35px;
	left:130px;
	top:320px;
}
#sel-task{
	float:left;
	width:30px;
	margin-top:.5em;
	text-align:center;
}
#dec img{
	float:left;
	margin-left:5px;
	width:40px;
	height: 40px;
}
#inc img{
	float:left;
	margin-left:2px;
	width:40px;
	height: 40px;
}
div#dec:active{
}
div#inc:active{
}

.clock-cmpt{
	position:absolute;
	width:400px;
	left:20px;
}
.clock-face{
	top:40px;
	left:30px;
}
.alarm img{
	position:absolute;
	top:10px;
	height: 30px;
	width: 20px;
}
.center{
	height:400px;
	width:400px;
	position:fixed;
	top:50%;
	left:50%;
	border: 2px solid red;
	transform:translate(-50%, -50%);
}

.circle{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #003C78;
}

.inner-circle {
	position: absolute;
	margin:18px;
	border: solid 2px #336393;
	border-radius: 50%;
	width: 260px;
	height: 260px;
	background-color: #FFFFFF; 
}

#time-display{
	position:absolute;
	top:106px;
	left:45px;
	height:40px;
	width:200px;
	font-family:sans-serif;
	font-weight: lighter;
	font-size:48px;
}
#pause-time-display{
	position:absolute;
	top:40px;
	left:85px;
	height:40px;
	width:200px;
	font-family:sans-serif;
	font-weight: lighter;
	font-size:32px;
	opacity:0.5;
}
#play-pause img{
	position:absolute;
	top:180px;
	left:100px;
	height:60px;
	width:60px;
}